@model HomeViewModel

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            bool first = true;
        }
        @foreach (var slider in Model.SliderHomes)
        {
            <div class="carousel-item @(first ? "active": " " )">
                <img class="d-block w-100 sliderImgSize" src="~/img/slider/@slider.SImage" alt="First slide">
            </div>

            first = false;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Search zone start-->
<section class="searchMy">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="header_middle_inner">
                    <label>Catagory</label>
                    <select class="form-control categorySelect" id="exampleFormControlSelect1">
                        <option>Select</option>
                        @foreach (var cat in Model.Categories)
                        {
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="header_middle_inner">
                    <label>Marka</label>
                    <select class="form-control brendSelect" id="exampleFormControlSelect2">
                        <option>Select</option>
                        @foreach (var brand in Model.CatBraPivots)
                        {

                            <option value="@brand.Id">@brand.Brand.Name</option>
                        }

                    </select>
                </div>

            </div>
            <div class="col-4">
                <div class="active-cyan-3 active-cyan-4">
                    <label class="searchLable">Search</label>
                    <input class="form-control SearcProductInput" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
            <div class="col-12">
                <button id="search_product" type="button" class="btn btn-warning buttonMy search">Search</button>
            </div>
        </div>
    </div>

</section>
<!--Search zone end-->
<!--banner area start-->
<div class="banner_area mt-30 mb-20">
    <div class="container">
        <div class="row">
            @foreach (var img in Model.Advertisings)
            {

                <div class="col-lg-6 col-md-6">
                    <div class="single_banner mb-30  advertisingTitle">
                        <div style=" height: 170px;" class="banner_thumb">
                            <a href="shop.html"><img src="~/img/bg/@img.Image" alt=""></a>
                        </div>
                        <span>@img.Title</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--banner area end-->
<!--home product area start-->
<section class="home_product_area product_color_seven">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_tab_button tab_button_seven">
                    <ul class="nav" role="tablist">
                       
                        <li>
                            <a class="active" data-toggle="tab" href="#seller7" role="tab" aria-controls="seller7" aria-selected="false">
                                Discounted products
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
       
        <div class="tab-content">
            <div class="tab-pane fade show active" id="seller7" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_style7 product_column4 owl-carousel">
                        @foreach (var item in Model.Products.Where(v => v.Discount > 0 && v.Discount != null))
                        {
                            <div class="col-lg-3">
                                <div class="single_product" >
                                    <div class="product_thumb">
                                        <a href="product-details.html"><img style=" height: 180px;" src="~/img/MyProduct/@Model.Images.FirstOrDefault(v=>v.ProductId==item.Id).ImagePath" alt=""></a>
                                        <div class="label_product">
                                            <span class="label_sale">sale</span>
                                        </div>
                                        <div class="quick_button">
                                            <a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="product_name">
                                            <h3><a href="product-details.html">@item.Name</a></h3>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="old_price" style="color:red;  font-size: 16px;">
                                                @if (item.Discount != null && item.Discount != 0)
                                                {
                                                    <del>
                                                        @(item.Price)
                                                        Anz
                                                    </del>
                                                }

                                            </span>
                                            <p class="new_price" style="font-size: 16px;">
                                                @if (item.Discount != 0)
                                                {
                                                    @(item.Price - (item.Price * item.Discount) / 100)
                                                }
                                                else
                                                {
                                                    @(item.Price)
                                                }
                                                Azn
                                            </p>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                                <li data-id="@item.Id" class="add_to_cart"><a title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>
                                                <li class="compare"><a href="#" title="compare"><i class="zmdi zmdi-swap"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                   
                      
                    </div>
                </div>
            </div>
          
        </div>

    </div>
</section>
<!--home product area end-->
<!--home product area start-->
<section class="home_product_area product_color_seven mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 style="padding: 1% 1%;">All Products</h3>
            </div>
        </div>
        <div class="row" id="load_more">

            <div class="tab-content  mainProductList firstProducCarusel" id="firstProducCarusel">
             
                <partial name="Product_Partial" model="@Model" />

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <button data-skip="@Model.LodMorProducts.Count()" data-totalCount="@ViewData["Total_Product_count"]" class="btn btn-primary" id="load_more_btn">Load more</button>
            </div>
        </div>
    </div>
</section>

<!-- modal area start-->
<div class="baseModal">
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">

    </div>
</div>

<!-- modal area end-->
